.descricao-bg {
    background: var(--cor-11);
}

.descricao {
    display: grid;
    padding-top: 60px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.descricao-nimbus {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    border: 1px blue solid;
}

.descricao-nimbus img {
    width: 48%;
    object-fit: contain;
}

.descricao-nimbus img:first-child {
    width: 100%;
}

/* DESCRICAO_2 */

.descricao-2 h2 {
    font: var(--font-2-s);
    color: var(--cor-5);
}

.descricao-2 {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 32px 8px;

    border: 1px blue solid;
}

.descricao-2 span {
    display: flex;
    gap: 8px;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--cor-12);
    font: var(--font-1-xs);
    color: var(--cor-6);
}

.descricao-2 span+span {
    margin-top: 8px;
}

/* VANTAGENS */


.vantagens-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, max-content)); */
}

.vantagens-nimbus {
    display: flex;
}