article {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.bicicletas-lista h2 {
    /* padding-top: 120px; */
    /* padding-bottom: 40px; */
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.bicicletas-lista h2 span {
    color: var(--p-1);
}

.bicicletas-lista ul {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    /* scroll lateral */
    overflow-x: auto;
}

.bicicletas-lista li {
    flex: 1;
    min-width: 280px;
}

.bicicletas-lista a {
    display: block;
}

.bicicletas-lista img {
    margin-bottom: 16px;
}

.bicicletas-lista h3 {
    display: flex;
    align-items: center;
    color: var(--cor-11);
    margin-bottom: 8px;
}

.bicicletas-lista h3::before {
    content: '';
    display: inline-block;
    background-color: var(--p-1);
    width: 12px;
    height: 8px;
    margin-right: 8px;
    margin-top: 32;     
}

.bicicletas-lista a:hover h3::before {
    width: 18px;
    transition: 0.1s;
}

.bicicletas-itens strong {
    font: var(--font-1-m);
    color: var(--cor-8);
    padding-left: 20px;
}



@media (max-width: 1100px) {

    article {
        margin-top: 40px;
    }

    .bicicletas-lista h2 {
        font-size: 48px;
        margin: auto auto 35px;
    }

    .bicicletas-lista h2>span {
        font-size: 48px;
    }
}

    @media (max-width: 800px) {

        article {
            margin-top: 0px;
        }

        .bicicletas-lista h2 {
            font-size: 32px;
            margin: 30px auto 20px; 
            /* height: 50px; */
        }

        .bicicletas-lista h2>span {
            font-size: 32px;
        }

    }