.descricao-bg {
    background: var(--cor-11);
}

.descricao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.descricao-nimbus {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    /* border: 1px blue solid; */
}

.descricao-nimbus img {
    width: 48%;
    object-fit: contain;
}

.descricao-nimbus img:first-child {
    width: 100%;
}

/* DESCRICAO_2 */

.descricao-2 h2 {
    font: var(--font-2-x);
    color: var(--cor-5);
}

.descricao-2 {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 32px 8px;

    /* border: 1px blue solid; */
}

.descricao-2 span {
    display: flex;
    gap: 8px;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--cor-12);
    font: var(--font-1-xs);
    color: var(--cor-6);
}

.descricao-2 span+span {
    margin-top: 8px;
}

/* VANTAGENS */

.vantagens-1 h2 {
    padding-top: 40px;
    padding-bottom: 12px;
}

.vantagens-nimbus {
    /* border: 1px blue solid; */

    display: flex;
    gap: 32px;
    background-color: var(--cor-12);
    border-radius: 4px;
    padding: 32px 32px 0px 32px;
}

.vantagens-nimbus div > p {
    padding-bottom: 32px;
    
}

.vantagens-1 h2, 
.vantagens-nimbus h3 {
    color: var(--cor-0);
    font: var(--font-1-m-b);
}

.vantagens-nimbus p {
    color: var(--cor-5);
    font: var(--font-2-xs);
}