.titulo-bg {
    margin-bottom: 60px;
}

.footer-bg {
    margin-top: 60px;
}

.bicicletas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.bicicletas a {
    position: absolute;
    padding: 16px 20px;
    color: var(--p-5);
    right: 20px;
    bottom: 60px;
}

/* .bicicletas p {
    margin-bottom: 32px;
} */

.bicicletas-imagem {
    position: relative;
}

.bicicletas-imagem span {
    display: inline-block;
    background: var(--cor-12);
    position: absolute;
    top: 20px;
    right: 0px;
    border-radius: 5px 0 0 5px;
    padding: 8px 16px 8px 8px;
}

.bicicletas span {
    color: var(--cor-0);
    font: var(--font-2-m);
}

.bicicletas-conteudo h2 {
    font: var(--font-1-xl);
}

.bicicletas-conteudo p {
    font: var(--font-2-s);
    margin-top: 20px;
    margin-bottom: 32px;
}

.bicicletas-conteudo ul {
    font: var(--font-1-m);
    color: var(--cor-8);
}

/* MAGIC MIGHT */
.bicicletas-bg {
    background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.bicicletas-conteudo-magic h2 {
    font: var(--font-1-xl);
    color: var(--cor-0);
}

.bicicletas-conteudo-magic p {
    font: var(--font-2-s);
    color: var(--cor-5);
    margin-top: 20px;
    margin-bottom: 32px;
}

.bicicletas-conteudo-magic ul {
    font: var(--font-1-m);
    color: var(--cor-5);
}

/* ^ */

.bicicletas-conteudo,
.bicicletas-conteudo-magic {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.bicicletas h2,
p {
    grid-column: 1/-1;
}

.bicicletas h2::before {
    content: "";
    display: block;
    background-color: var(--p-1);
    height: 8px;
    width: 12px;
    margin-bottom: 8px;
}

.bicicletas-conteudo li>img,
.bicicletas-conteudo-magic li>img {
    height: 24px;
    width: 24px;
}

.bicicletas-conteudo li,
.bicicletas-conteudo-magic li {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.bicicletas-conteudo li:nth-child(4n),
.bicicletas-conteudo-magic li:nth-child(4n) {
    margin-bottom: 0px;
}

@media (max-width: 900px) {

    .bicicletas {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 20px;
        gap: 20px;
    }

    .bicicletas-bg {
        background: var(--cor-11);
    }

    .bicicletas-conteudo li:nth-child(4n),
    .bicicletas-conteudo-magic li:nth-child(4n){
        margin-bottom: 16px;
    }
}

@media (max-width: 500px) {

    .bicicletas-conteudo,
    .bicicletas-conteudo-magic { 
        grid-template-columns: 1fr;
    }

    .bicicletas a {
        position: relative;
        margin-left: 20px;
        margin-top: 60px;

    }

    .footer-bg {
        margin-top: 0px;
    }

    .titulo-bg {
        margin-bottom: 20px;
    }

    .bicicletas {
        padding-bottom: 0px;
    }
}