article >section {
    padding-bottom: 60px;
}

.descricao-bg {
    background: var(--cor-11);
    padding-bottom: 60px;
}

.descricao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.descricao-nimbus {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    /* border: 1px blue solid; */
}

.descricao-nimbus img {
    width: 48%;
    object-fit: contain;
}

.descricao-nimbus img:first-child {
    width: 100%;
}

/* DESCRICAO_2 */

.descricao-2 h2 {
    font: var(--font-2-x);
    color: var(--cor-5);
}

.descricao-2 {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 32px 8px;

    /* border: 1px blue solid; */
}

.descricao-2 span {
    display: flex;
    gap: 8px;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--cor-12);
    font: var(--font-1-xs);
    color: var(--cor-6);
}

.descricao-2 span+span {
    margin-top: 8px;
}

/* VANTAGENS */

.vantagens-1 h2,
.ficha h2 {
    padding-top: 40px;
    padding-bottom: 12px;
}

.vantagens-nimbus {
    /* border: 1px blue solid; */

    display: flex;
    gap: 32px;
    background-color: var(--cor-12);
    border-radius: 4px;
    padding: 32px 32px 0px 32px;
}

.vantagens-nimbus div>p {
    padding-bottom: 32px;

}

.vantagens-1 h2,
.vantagens-nimbus h3,
.ficha h2 {
    color: var(--cor-0);
    font: var(--font-1-m-b);
}

.vantagens-nimbus p {
    color: var(--cor-5);
    font: var(--font-2-xs);
}

/* FICHA TECNICA */

.ficha-nimbus {
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
    background-color: var(--cor-12);
    border-radius: 4px;
    padding: 32px;
}

.ficha-nimbus p {
    color: var(--cor-4);
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px;
}

.ficha-nimbus p+p {
    border-top: 1px solid var(--cor-11);
}

.ficha-nimbus span {
    color: var(--cor-6);
}

/* DESTAQUES */

.destaque-bg {
    padding-top: 82px;
    padding-bottom: 130px;
}

.destaque-bg h2 {
    padding-bottom: 40px;
}

.destaque-bike h3 {
    font: var(--font-1-xl);
    color: var(--cor-11);
    padding: 12px 0px 8px;
    display: flex;
    align-items: center;
}

.destaque-bike h3::before {
    content: '';
    display: inline-block;
    background-color: var(--p-1);
    width: 12px;
    height: 8px;
    margin-right: 8px;
    /* margin-top: 32; */
}

.destaque-bike strong {
    font: var(--font-1-m);
    color: var(--cor-8);
    padding-left: 20px;
}

.destaque-bike {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.destaque-bike img {
    border-radius: 4px;
}

/* VEJA MAIS SEGUROS */

.maisSeguros-bg {
    background: var(--cor-11);
    box-shadow: inset 0 120px var(--cor-0);
    height: 600px;
    /* box-shadow: inset 0 -120px var(--cor-12); */
}

.botao {
    margin-bottom: 60px;
}

.mais-seguros h2 {
    font: var(--font-1-xxl);
    color: var(--cor-0);
    padding-top: 180px;
    padding-bottom: 32px;
}

.mais-seguros p {
    font: var(--font-2-x);
    color: var(--cor-5);
    padding-bottom: 20px;
}

.mais-seguros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.footer-bg {
    /* margin-top: 0px; */
}
