.container {
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#FFBF00, #F2A50C);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    text-transform: uppercase;
    color: var(--p-5);
    font: 600 1.2rem/1.35 "Poppins", sans-serif;
    max-width: max-content;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background: linear-gradient(#FFB60d, #e59317);
}

.botao.secundario {
    background: var(--cor-10);
    color: var(--cor-4);
}

.botao.secundario:hover {
    background: var(--cor-9);
}

.botao.seta::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 18px;
    margin-left: 12px; 
    background: url("../../img/icones/seta.svg");
    transition: 0.2s;
}

.botao.seta:hover::after {
    transform: translateX(4px);
}

.botao.seta {
    display: flex;
    align-items: center;
}




@media (max-width: 800px) {

    .botao {
        font-size: 15px;
        padding: 12px 22px;
        /* margin-bottom: 16px; */
    }
}

.ponto-span {
    /* font-size: clamp(2.5rem, 5vw, 6rem); */
    font-size: var(--font-1-xxl);
    color: var(--p-1);
}

/* TITULO INTERNAS */

.titulo-bg {
    background: var(--cor-11);
    padding-top: 60px;
    padding-bottom: 60px;
}

.titulo p {
    font: var(--font-2-l-b);
    color: var(--cor-5);
    margin-bottom: 4px;
    text-transform: uppercase;
}

.titulo h1 {
    font: var(--font-1-xxl);
    color: var(--cor-0);
}

@media (max-width: 800px) {

    .titulo-bg {
        font-size: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .titulo p {
        font-size: 1.2rem;
        text-transform:lowercase;
        font-weight: 400;
    }
}