.container {
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#FFBF00, #F2A50C);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    text-transform: uppercase;
    color: var(--p-5);
    font: 600 1.2rem/1.35 "Poppins", sans-serif;
}

.botao:hover {
    background: linear-gradient(#FFB60d, #e59317);
}

.ponto-span {
    font-size: clamp(2.5rem, 5vw, 7rem);
    color: var(--p-1);
}
@media (max-width: 800px) {

    .botao {
        font-size: 15px;
        padding: 12px 22px;
        margin-bottom: 16px;
    }
}