:root {
    --cor-0: #fff;
    --cor-1: #f7f7f7;
    --cor-2: #ededed;
    --cor-3: #dedede;
    --cor-4: #ccc;
    --cor-5: #b2b2b2;
    --cor-6: #9c9c9c;
    --cor-7: #717171;
    --cor-8: #595959;
    --cor-9: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111;
    --cor-12: #000;
    --p-1: #fb0;
    --p-2: #e4a30b;
    --p-3: #a66f00;
    --p-4: #640;
    --p-5: #320;
} 

.cor-6 {
    color: #9c9c9c;
}

.cor-0 {
    color: #fff;
}