*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:not(summary){
    list-style: none;
}

body {
    font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
    width: 100vw;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

img[src$=".jpg"] {
    border-radius: 4px;
}


/* a {
    color: var(--cor-0);
} */

h1,
h2 {
    font: var(--font-1-xxl);
}

h3 {
    font: var(--font-1-xl);
}

p {
    font: var(--font-2-l);

}