article >section {
    padding-bottom: 60px;
}

.bicicleta-bg {
    background: var(--cor-11);
}

.bicicleta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
    padding-top: 60px;
    padding-bottom: 60px;
}

#bicicleta .titulo p {
    text-transform: uppercase;
}

.bicicleta-img {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    /* border: 1px blue solid; */
}

.bicicleta-img img {
    flex: 1;
    width: 200px;
    /* object-fit: contain; */
}

.bicicleta-img img:first-child {
    width: 100%;
}

/* BICICLETA COMPRAR */

.bicicleta-conteudo p {
    font: var(--font-2-l);
    color: var(--cor-5);
    margin-bottom: 32px;
}

.bicicleta-comprar {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;

    /* border: 1px blue solid; */
}

.bicicleta-comprar a {
    grid-row: span 2;
}

.bicicleta-comprar span {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--cor-12);
    font: var(--font-1-xs);
    color: var(--cor-6);
}

.bicicleta-conteudo h2 {
    font: var(--font-1-xs);
    color: var(--cor-0);
    text-transform: uppercase;
    letter-spacing: 0.015em;
    margin-top: 40px;
    margin-bottom: 12px;
}

/* INFORMACOES */

.bicicleta-informacao,
.bicicleta-ficha {
    /* border: 1px blue solid; */

    background-color: var(--cor-12);
    border-radius: 4px;
    padding: 32px
}

.bicicleta-informacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.bicicleta-informacao img {
    width: 24px;
    margin-bottom: 8px;
}

.bicicleta-informacao h3 {
    color: var(--cor-0);
    font: var(--font-1-m);
    margin-bottom: 8px;
}

.bicicleta-informacao p {
    color: var(--cor-5);
    font: var(--font-2-xs);
}

/* FICHA TECNICA */

.bicicleta-ficha li {
    display: flex;
    padding: 4px 0px;
    justify-content: space-between;
    color: var(--cor-4);
    font: var(--font-2-s);
    border-bottom: 1px solid var(--cor-11);
}

.bicicleta-ficha li:last-child {
    border-bottom: none;
}

.bicicleta-ficha span {
    color: var(--cor-6);
}

@media (max-width: 1000px) {
    
    .bicicleta {
        grid-template-columns: 1fr;
        padding: 40px 0px 40px;
        margin: 0px 20px;
    }

    .bicicleta-img {
        grid-row: 2;
    }
}

@media (max-width: 500px) {

    .bicicleta-informacao,
    .bicicleta-comprar {
        grid-template-columns: 1fr;
    }

    .bicicleta-informacao p {
        margin-bottom: 0px;
    }
}

/* DESTAQUES */

.destaque-bg {
    padding-top: 82px;
    padding-bottom: 130px;
}

.destaque-bg h2 {
    padding-bottom: 40px;
}

.destaque-bike h3 {
    font: var(--font-1-xl);
    color: var(--cor-11);
    padding: 12px 0px 8px;
    display: flex;
    align-items: center;
}

.destaque-bike h3::before {
    content: '';
    display: inline-block;
    background-color: var(--p-1);
    width: 12px;
    height: 8px;
    margin-right: 8px;
    /* margin-top: 32; */
}

.destaque-bike strong {
    font: var(--font-1-m);
    color: var(--cor-8);
    padding-left: 20px;
}

.destaque-bike {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.destaque-bike img {
    border-radius: 4px;
}

@media (max-width: 1000px) {

    .destaque-bg {
        padding-top: 40px;
    }
}

@media (max-width: 700px) {

    .destaque-bg h2 {
        font-size: 32px;
    }
}