article >section {
    padding-bottom: 60px;
}

.bicicleta-bg {
    background: var(--cor-11);
    padding-bottom: 60px;
}

.bicicleta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.bicicleta-img {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    /* border: 1px blue solid; */
}

.bicicleta-img img {
    width: 48%;
    object-fit: contain;
}

.bicicleta-img img:first-child {
    width: 100%;
}

/* BICICLETA CONTEUDO */

.bicicleta-conteudo p {
    font: var(--font-2-l);
    color: var(--cor-5);
}

.bicicleta-conteudo {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 32px 8px;

    /* border: 1px blue solid; */
}

.bicicleta-conteudo span {
    display: flex;
    gap: 8px;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--cor-12);
    font: var(--font-1-xs);
    color: var(--cor-6);
}

.bicicleta-conteudo span+span {
    margin-top: 8px;
}

.bicicleta-conteudo h2 {
    font: var(--font-1-xs);
    color: var(--cor-0);
    /* padding-top: 40px; */
    /* padding-bottom: 12px; */
}

/* INFORMACOES */

.bicicleta-informacao {
    /* border: 1px blue solid; */

    display: flex;
    gap: 32px;
    background-color: var(--cor-12);
    border-radius: 4px;
    padding: 32px
}

.bicicleta-informacao h3 {
    color: var(--cor-0);
    font: var(--font-1-m);
}

.bicicleta-informacao p {
    color: var(--cor-5);
    font: var(--font-2-xs);
}

/* FICHA TECNICA */

.bicicleta-ficha {
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
    background-color: var(--cor-12);
    border-radius: 4px;
    padding: 32px;
}

.bicicleta-ficha li {
    display: flex;
    justify-content: space-between;
    color: var(--cor-4);
    font: var(--font-2-s);
    padding: 5px 0px 5px;
}

.bicicleta-ficha li+li {
    border-top: 1px solid var(--cor-11);
}

.bicicleta-ficha span {
    color: var(--cor-6);
}

/* DESTAQUES */

.destaque-bg {
    padding-top: 82px;
    padding-bottom: 130px;
}

.destaque-bg h2 {
    padding-bottom: 40px;
}

.destaque-bike h3 {
    font: var(--font-1-xl);
    color: var(--cor-11);
    padding: 12px 0px 8px;
    display: flex;
    align-items: center;
}

.destaque-bike h3::before {
    content: '';
    display: inline-block;
    background-color: var(--p-1);
    width: 12px;
    height: 8px;
    margin-right: 8px;
    /* margin-top: 32; */
}

.destaque-bike strong {
    font: var(--font-1-m);
    color: var(--cor-8);
    padding-left: 20px;
}

.destaque-bike {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.destaque-bike img {
    border-radius: 4px;
}

/* VEJA MAIS SEGUROS */

.maisSeguros-bg {
    background: var(--cor-11);
    box-shadow: inset 0 120px var(--cor-0);
    height: 600px;
    box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.mais-seguros h2 {
    font: var(--font-1-xxl);
    color: var(--cor-0);
    padding-top: 180px;
    padding-bottom: 32px;
}

.mais-seguros p {
    font: var(--font-2-x);
    color: var(--cor-5);
    padding-bottom: 20px;
}

.mais-seguros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
