.seguros-bg {
    background: var(--cor-11);
    margin-top: 0px;
}

.seguros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center; 
}

.seguros h2 {
    grid-column: 1 /-1;
    font: var(--font-1-xxl);
    color: var(--cor-1);
}

.seguros-item h3 {
    font: var(--font-1-xl);
    color: var(--cor-6);
    margin-bottom: 40px;
    text-transform: uppercase;
}

.seguros-item {
    background: var(--cor-12);
    padding: 32px 32px 32px 60px;
    display: grid;
    grid-template-columns: 1fr auto;
}


.seguros-item .h3 {
    color: var(--p-1);
    margin-bottom: 40px;
}

.seguros-item span {
    font: var(--font-1-xl);
    color: var(--cor-0);
    grid-column: 2;
    display: block;
    text-align: end;
}

.seguros-item span span {
    font: var(--font-1-xs);
    color: var(--cor-6);
}


.seguros-item ul {
    font: var(font-2-m);
    color: var(--cor-0);
    grid-column: 1/-1;
}

.seguros-item li {
    padding-top: 20px;
}

.seguros-item li:first-child {
    padding-top: 0px;
}

.seguros-item li::before {
    content: url(../../img/icones/lista.svg);
    padding-right: 8px;
}

.seguros-item a {
    grid-column: 1/-1;
    margin-top: 32px;
}

@media (max-width: 1100px) {

    .seguros {
        grid-template-columns: 1fr;
    }

    .seguros h2 {
        font-size: 48px;
    }
}

@media (max-width: 800px) {

    .seguros h2 {
        font-size: 32px;
    }

    .seguros.container {
        padding: 40px 20px;
    }

    .seguros-item h3 {
        font-size: 25px;
    }

    .seguros-item span {
        font-size: 25px;
    }

    .seguros-item span span {
        font-size: 10px;
    }

    .seguros-item {
        padding: 32px 32px 32px 32px;
    }
}