.perguntas {
    padding-top: 120px;
    padding-bottom: 120px;
}

.perguntas h2 {
    margin-bottom: 60px;
}

.perguntas dl > div {
    padding: 20px;
    border-radius: 4px;
}

button {
    font: var(--font-1-m-b);
    color: var(--cor-11);
}

.details dd {
    font: var(--font-2-s);
    color: var(--cor-9);
    padding-top: 16px;
    padding-left: 20px;
    max-width: 95ch;
}

:is(.details div, .details dd):nth-child(odd) {
    background: var(--cor-1);
}

.details button {
    display: grid;
    list-style: none;
    grid-template-columns: auto 1fr auto;
    position: relative;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-left: 20px;
    border: none;
    background: none;
    width: 100%;
}

.details button::before {
    content: '';
    position: absolute;
    display: inline-block;
    background-color: var(--p-1);
    left: -20px;
    width: 12px;
    height: 8px;
}

.details button::after {
    content: '';
    position: absolute;
    display: inline-block;
    background-image: url(../../img/icones/seta-abrir.svg);
    left: 1080px;
    width: 14px;
    height: 6px;
    transition: .3s;
}

.details button:hover::after {
    transform: rotate(180deg);
}

.perguntas dd {
    display: none;
}
.perguntas dd.ativa {
    display: block;
}

.details button::marker {
    color: transparent !important;
}


@media (max-width: 1200px) {
    .details dt::after {
        display: none;
    }
}

@media (max-width: 1100px) {

    .perguntas {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .perguntas h2,
    .details div {
        margin: 20px;
    }

    .details {
        padding-top: 44px;
    }

}

@media (max-width: 800px) {

    .perguntas h2 {
        font: var(--font-1-xxl);
    }

}

@media (max-width: 600px) {

    .perguntas h2 {
        font-size: 32px;
    }

    .perguntas {
        padding: 60px 0px 0px 0px;
    }

    .details {
        padding-top: 20px;
    }
}