.vantagens-bg {
    background: var(--cor-12);
    max-width: 100%;
}

article {
    margin-top: 0px;
}

.vantagens {
    padding-top: 120px;
    padding-bottom: 120px;
}

.nossas-vantagens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    padding-top: 90px;
    gap: 40px;
}

.nossas-vantagens p {
    font: var(--font-2-s);
    color: var(--cor-5);
}

.vantagens h2, h3 {
    color: var(--cor-0);
}

.vantagens h3 {
    font: var(--font-1-m-b);
    padding: 8px 0px 8px 0px;
    
}

.vantagens p {
    color: var(--cor-6);
}

@media (max-width: 1100px) {

    .vantagens {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .vantagens h2,
    .nossas-vantagens {
        margin: 20px;
    }
}

@media (max-width: 800px){

.nossas-vantagens {
    padding-top: 40px;
}

.vantagens h2 {
    font: var(--font-1-xxl);
}

}

@media (max-width: 600px){

    .vantagens h2 {
        font-size: 32px;
    }

    .vantagens {
        padding: 60px 0px;
    }
}