.termos {
    padding-top: 100px;
    padding-bottom: 70px;
}

.termos h2 {
    font: var(--font-1-l);
    font-weight: 600;
    color: var(--cor-11);
    margin-bottom: 20px;
}

.termos li {
    font: var(--font-2-s);
    color: var(--cor-10);
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.termo-lista {
    margin-bottom: 48px;
}

@media (max-width: 700px) {

    .titulo h1 {
        font-size: 32px; 
    }

    .termos {
        padding-top: 50px;
    }
}