#orcamento {
    background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}

u {
    text-decoration: underline;
}

.orcamento {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding: 20px 0 120px;
}

.orcamento h2 {
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}

.orcamento h2::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    background-color: var(--p-1);
    position: absolute;
    left: -12px;
}

.orcamento-produto h2 {
    font: var(--font-1-xs);
    color: var(--cor-5);
}

.orcamento-produto,
.orcamento-dados{
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
    background: var(--cor-12);
    border-radius: 5px 0 0 5px;
}

.orcamento-conteudo h2,
.orcamento-conteudo p {
    font: var(--font-1-m);
    color: var(--cor-0);
}

.orcamento-dados {
    background: var(--cor-0);
    border-radius: 0 5px 5px 0;
}

.orcamento-dados h2 {
    font: var(--font-1-xs);
    color: var(--cor-9);
}

.orcamento-produto label {
    background: #ccc;
    padding: 20px;
    display: inline-block;
}

.orcamento-conteudo {
    padding: 20px;
    background: #222;
    margin: 20px 0;
    display: none;
}
/* Checked funciona de certo modo: quando o input estiver checado (ativo), procurar o primeiro elemento com id orcamento-bikcraft. E a duas formas de serem efetuadas com acento tio ou as tags.

input#bikcraft:checked + label + input + label + #orcamento-bikcraft {
    background: blue;
}*/

input#bikcraft:checked ~ #orcamento-bikcraft,
input#seguro:checked ~ #orcamento-seguro {
    display: block;
}

#orcamento-bikcraft {
    display: none;
}